.modal-page {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10vh;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000000000;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 1s ease all;
  .modal-loading-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      animation: rotate-animation 21s infinite linear;
    }
  }
  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
